fieldset {
  margin-top: 4rem;
  display: grid;

  & legend {
    font: var(--heading-sm);
  }

  & .legend-container {
    margin-bottom: 2.4rem;
  }
}

.input-wrapper {
  margin-bottom: 1.6rem;
  & > label {
    margin-bottom: 1.2rem;
  }
}

.action {
  margin-top: 6.2rem;

  & button {
    margin-left: auto;
  }
}